.fruits{
    font-size: 20px;
    color: red;
}
.veg{
    font-size: 20px;
    color: brown;
}
#one{
    font-size: 50px;
    color:green;
}
/* li{
    font-size: 20px;
    color: blue;
}
#veg{
    font-size: 20px;
    color: brown;
} */